#include "Signing.xcconfig"

IPHONEOS_DEPLOYMENT_TARGET = 18.0
SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2

SWIFT_VERSION = 5.0
SWIFT_STRICT_CONCURRENCY = minimal

MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1

PRODUCT_NAME = $(TARGET_NAME)
APP_GROUP_ID = group.$(BUNDLE_ID_PREFIX).iblocker

CODE_SIGN_STYLE = Automatic
GENERATE_INFOPLIST_FILE = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
ALWAYS_SEARCH_USER_PATHS = NO
